/* body {
  background-image: url("/images/logo.svg"), url("/images/icon-hamburger.svg");
  background-position: top left, top right;
  background-position-x: 5%, 95%;
  background-position-y: 25px, 35px;
  background-repeat: no-repeat;
  margin: 0 8%;
} */

.nav {
  width: 311px;
  height: 24px;
  margin: 38px auto 0 auto;
}

.logo {
  background-image: url("/images/logo.svg");
  background-position: top left;
  background-position-x: 5%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.burger {
  background-image: url("/images/icon-hamburger.svg");
  background-position: top right;
  background-position-x: 95%;
  background-position-y: 35px;
  background-repeat: no-repeat;
  background-size: 24px 16px;
}

/*Start of mobile model styles*/
.hamburgerModal {
  display: none;
  margin-top: 75px;
  width: 311px;
  height: 233px;
}

.hamburgerModal li {
  color: #242942;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.2px;
  padding-top: 25px;
}

.hamburgerModal hr {
  opacity: 0.5;
}

.hamburgerModal li:nth-child(3) {
  padding-bottom: 20px;
}

.hamburgerModal li:hover {
  opacity: 0.5;
}

/*End of mobile model styles*/

.laptopBackground {
  background-image: url("/images/illustration-devices.svg");
  background-position-x: left;
  background-position-y: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 339px;
  width: 482px;
}

.heroTagline {
  display: flex;
  justify-content: space-between;
  width: 284px;
  height: 25px;
  margin: 75px 0 0 0;
}

.newLabel {
  background-color: #242942;
  border-radius: 12.5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 3px 4px;
  height: 25px;
}

.lightText {
  font-family: "Barlow Condensed" 15/16;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  letter-spacing: 5px;
  color: #242942;
  opacity: 0.5;
}

h1 {
  color: #242942;
  font-family: "Barlow Condensed";
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 15px;
}

.mainText {
  color: #242942;
  font-family: "Barlow";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
  opacity: 0.75;
  margin-top: 20px;
}

.signUpSection {
  display: flex;
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  margin-top: 20px;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #ff5e5e;
  color: #ffffff;
  width: 153px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 0.775rem;
  line-height: 1.0625rem;
  letter-spacing: 0.933333px;
  text-transform: uppercase;
}

.signUpTagline {
  color: #242942;
  opacity: 0.5;
  letter-spacing: 2.5px;
  font-style: normal;
  font-size: 0.775rem;
  line-height: 1.0625rem;
  padding-left: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 25px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
